
.delete-todo, .update-todo, .status{
    --button-color: rgb(186, 222, 226);
    border: none;
    float: right;
    background-color: var(--button-color);
    font-size: x-large;
}
.delete-todo:hover{
    color: rgb(221, 12, 12);
}
.update-todo:hover{
    color:rgb(45, 167, 189);
}
.status:hover{
    color: rgb(9, 155, 9);
}

.list-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0.4em;
    background-color: rgb(186, 222, 226);
    padding: 0.2em;
    border-radius: 3rem;
    align-items: center;
    font-size: xx-large;

}
.list-wrapper > p{
    font-size: 0.5em;
}

.text-for-completed{
    text-decoration:line-through;
}
